<h1>Listing hours task</h1>
 
<table class="table table-hover">
  <tr>
    <th>Quantity hour</th>
    <th>Edit hour</th>
  </tr>
  <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.quantity %></td>
        <td><%= link_to 'Edit', edit_task_hour_path(@task, hour), :class => "btn btn-primary" %></td>
      </tr>
  <% end %>
</table>
    
  <br>
<%= link_to 'Back', tasks_path, :class => "btn btn-default" %>